<!DOCTYPE html>
<html>
<head>
   <title>{{ recipe['title'] }}</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="recipe-detail">
        <h1>{{ recipe['title'] }}</h1>

        <img src="{{ recipe['image'] }}" alt="{{ recipe['title'] }}">

        <h2>Ingredients:</h2>
        <ul>
            {% for ingredient in recipe['extendedIngredients'] %}
                <li>{{ ingredient['original'] }}</li>
            {% endfor %}
        </ul>

        <h2>Instructions:</h2>
        {% if recipe.get('steps') %}
        <ol>
            {% for step in recipe['steps'] %}
                <li>{{ step }}</li>
            {% endfor %}
        </ol>
        {% else %}
        <p>{{ recipe.get('instructions', 'No instructions available.') | safe }}</p>
        {% endif %}

        <br>
        <a href="{{ url_for('index') }}">
            <button>Back to Home</button>
        </a>
    </div>
</body>
</html>
